COMPOSE_PROJECT_NAME=fastrestaurant
ASPNETCORE_ENVIRONMENT=Development

MSSQL_SA_PASSWORD=DemoOnly_123456789!
MSSQL_PID=Developer
SQLSERVER_PORT=1433

JWT_KEY=demo-only-jwt-key-change-me-1234567890
JWT_ISSUER=AuthMS
JWT_AUDIENCE=Microservices

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=fastrestaurant

AUTH_PORT=5155
MENU_PORT=5127
ORDERS_PORT=5231
KITCHEN_PORT=5207
STOCK_PORT=5093
FRONTEND_PORT=5053

AUTH_DB=AuthMSDb
MENU_DB=MenuServiceDb
ORDERS_DB=OrderServiceDB
KITCHEN_DB=FastRestaurant_Kitchen
STOCK_DB=MicroservicioStock
